
@use "fonts" 
@use "colors"

body
  margin:0
  padding:0
  height: 100vh
  display: flex
  flex-direction: column-reverse
  font-family: fonts.$font-family

.main
  height: 93vh
  background-color: colors.$lighter-dark
  width: 100vw
  display: flex
  justify-content: center
  align-items: center
  & .table 
    border-radius: 12px
    min-width: 90%
    max-width: 90%
    min-height: 90%
    max-height: 90%
    border: 5px solid colors.$highlight
    display: flex
    overflow: hidden
    flex-wrap: wrap
    & .cell
      box-sizing: border-box
      border: 1.5px solid colors.$neon
      padding: 0
      transition: all .3s ease
      &:hover
        background-color: colors.$highlight
      &--dead
        background-color: colors.$dark
      &--alive
        background-color: colors.$alert
        
    & table
      border-collapse: collapse


.menu
  height: 7vh
  background-color: colors.$dark
  box-shadow: 0 1px 3px 2px #darker, 0 -2px 50px 2px colors.$neon
  width: 100vw
  display: flex
  justify-content: space-around
  align-items: center
  & .title 
    text-shadow: colors.$pink 1px 1px 9px
    font-size: 20px
  & .button
    color: colors.$dark
    padding: .60rem
    background-color: colors.$lighter-dark
    color: colors.$light
    text-align: center
    cursor: pointer
    border-radius: 14px
    transition: .1s all ease-out
    font-size: 13px
    &:hover
      box-shadow: 0 0 10px 1px colors.$neon

@media (min-width: 600px)
  .menu
    & .title
      font-size: 30px
    & .button
      font-size: 16px
  

@media (min-width: 900px)
  .menu
    justify-content: space-evenly
    & .title
      font-size: 40px
    & .button
      font-size: 21px
  

