body
  margin:0
  padding:0
  height: 100vh
  display: flex

.main
  height: 100vh
  background-color: #616161
  width: 80vw
  display: flex
  justify-content: center
  align-items: center
  & .table 
    background-color: #0f0f0f
    border-radius: 12px
    min-width: 500px
    min-height: 500px
    border: 5px solid #0f0f0f


.menu
  height: 100vh
  background-color: #272727
  box-shadow: 1px 0 7px 2px #111, -2px 0 50px 2px #00b6bd
  width: 20vw
